{
  "env": {
    "browser": true,
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "jsx": true,
    },
  },
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "rules": {
    "max-len": "off",
    "object-curly-newline": 0,
    "no-console": 0,
    "no-alert": 0,
    "no-param-reassign": 0,
    "no-irregular-whitespace": 0,
    "import/extensions": 0,
    "import/no-cycle": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "react/prop-types": 0,
    "import/prefer-default-export": 0,
  },
  "ignorePatterns": ["/dist"],
  "settings": {
    "react": {
      "version": "detect",
    },
  },
}
