/* button--black */

.button--black {
  --back-color: black;
  --text-color: white;
  --border-color: transparent;

  &:hover {
    --back-color: color-mix(in srgb, black 80%, transparent);
    --text-color: white;
    --border-color: transparent;
  }

  &:active {
    --back-color: black;
    --text-color: white;
    --border-color: transparent;
  }
}
