/* button--error-white */

.button--error-white-10,
.button--error-white-20,
.button--error-white-30 {
  &:not(.button--outline) {
    --text-color: var(--color-error-text);
  }

  &:hover {
    --text-color: var(--color-error-text);
  }

  &:active {
    --text-color: var(--color-error-text);
  }
}

.button--error-white-40,
.button--error-white-50,
.button--error-white-60,
.button--error-white-70,
.button--error-white-80,
.button--error-white-90 {
  --text-color: var(--body-text-color);
  --border-color: transparent;

  &:hover {
    --text-color: var(--body-text-color);
    --border-color: transparent;
  }

  &:active {
    --text-color: var(--body-text-color);
    --border-color: transparent;
  }
}

.button--error-white-10 {
  --back-color: var(--color-error-white-10);

  &:hover {
    --back-color: var(--color-error);
  }

  &:active {
    --back-color: var(--color-error-white-10);
  }
}

.button--error-white-20 {
  --back-color: var(--color-error-white-20);

  &:hover {
    --back-color: var(--color-error-white-10);
  }

  &:active {
    --back-color: var(--color-error-white-20);
  }
}

.button--error-white-30 {
  --back-color: var(--color-error-white-30);

  &:hover {
    --back-color: var(--color-error-white-20);
  }

  &:active {
    --back-color: var(--color-error-white-30);
  }
}

.button--error-white-40 {
  --back-color: var(--color-error-white-40);

  &:hover {
    --back-color: var(--color-error-white-30);
  }

  &:active {
    --back-color: var(--color-error-white-40);
  }
}

.button--error-white-50 {
  --back-color: var(--color-error-white-50);

  &:hover {
    --back-color: var(--color-error-white-40);
  }

  &:active {
    --back-color: var(--color-error-white-50);
  }
}

.button--error-white-60 {
  --back-color: var(--color-error-white-60);

  &:hover {
    --back-color: var(--color-error-white-50);
  }

  &:active {
    --back-color: var(--color-error-white-60);
  }
}

.button--error-white-70 {
  --back-color: var(--color-error-white-70);

  &:hover {
    --back-color: var(--color-error-white-60);
  }

  &:active {
    --back-color: var(--color-error-white-70);
  }
}

.button--error-white-80 {
  --back-color: var(--color-error-white-80);

  &:hover {
    --back-color: var(--color-error-white-70);
  }

  &:active {
    --back-color: var(--color-error-white-80);
  }
}

.button--error-white-90 {
  --back-color: var(--color-error-white-90);

  &:hover {
    --back-color: var(--color-error-white-80);
  }

  &:active {
    --back-color: var(--color-error-white-90);
  }
}
