/* button--first-trans */

.button--first-trans-10,
.button--first-trans-20,
.button--first-trans-30 {
  &:not(.button--transparent) {
    &:not(.button--outline) {
      color: var(--color-first-text);
    }

    &:hover {
      color: var(--color-first-text);
    }

    &:active {
      color: var(--color-first-text);
    }
  }
}

.button--first-trans-40,
.button--first-trans-50,
.button--first-trans-60,
.button--first-trans-70,
.button--first-trans-80,
.button--first-trans-90 {
  &:not(.button--transparent) {
    &:not(.button--outline) {
      color: inherit;
      --border-color: transparent;
    }

    &:hover {
      color: inherit;
      --border-color: transparent;
    }

    &:active {
      color: inherit;
      --border-color: transparent;
    }
  }
}

.button--first-trans-10 {
  --back-color: var(--color-first-trans-10);

  &:hover {
    --back-color: var(--color-first);
  }

  &:active {
    --back-color: var(--color-first-trans-10);
  }
}

.button--first-trans-20 {
  --back-color: var(--color-first-trans-20);

  &:hover {
    --back-color: var(--color-first-trans-10);
  }

  &:active {
    --back-color: var(--color-first-trans-20);
  }
}

.button--first-trans-30 {
  --back-color: var(--color-first-trans-30);

  &:hover {
    --back-color: var(--color-first-trans-20);
  }

  &:active {
    --back-color: var(--color-first-trans-30);
  }
}

.button--first-trans-40 {
  --back-color: var(--color-first-trans-40);

  &:hover {
    --back-color: var(--color-first-trans-30);
  }

  &:active {
    --back-color: var(--color-first-trans-40);
  }
}

.button--first-trans-50 {
  --back-color: var(--color-first-trans-50);

  &:hover {
    --back-color: var(--color-first-trans-40);
  }

  &:active {
    --back-color: var(--color-first-trans-50);
  }
}

.button--first-trans-60 {
  --back-color: var(--color-first-trans-60);

  &:hover {
    --back-color: var(--color-first-trans-50);
  }

  &:active {
    --back-color: var(--color-first-trans-60);
  }
}

.button--first-trans-70 {
  --back-color: var(--color-first-trans-70);

  &:hover {
    --back-color: var(--color-first-trans-60);
  }

  &:active {
    --back-color: var(--color-first-trans-70);
  }
}

.button--first-trans-80 {
  --back-color: var(--color-first-trans-80);

  &:hover {
    --back-color: var(--color-first-trans-70);
  }

  &:active {
    --back-color: var(--color-first-trans-80);
  }
}

.button--first-trans-90 {
  --back-color: var(--color-first-trans-90);

  &:hover {
    --back-color: var(--color-first-trans-80);
  }

  &:active {
    --back-color: var(--color-first-trans-90);
  }
}
