/* button--success-black */

.button--success-black-10,
.button--success-black-20,
.button--success-black-30 {
  &:not(.button--outline) {
    --text-color: var(--color-success-text);
  }

  &:hover {
    --text-color: var(--color-success-text);
  }

  &:active {
    --text-color: var(--color-success-text);
  }
}

.button--success-black-40,
.button--success-black-50,
.button--success-black-60,
.button--success-black-70,
.button--success-black-80,
.button--success-black-90 {
  --text-color: white;
  --border-color: transparent;

  &:hover {
    --text-color: white;
    --border-color: transparent;
  }

  &:active {
    --text-color: white;
    --border-color: transparent;
  }
}

.button--success-black-10 {
  --back-color: var(--color-success-black-10);

  &:hover {
    --back-color: var(--color-success-black-20);
  }

  &:active {
    --back-color: var(--color-success-black-10);
  }
}

.button--success-black-20 {
  --back-color: var(--color-success-black-20);

  &:hover {
    --back-color: var(--color-success-black-30);
  }

  &:active {
    --back-color: var(--color-success-black-20);
  }
}

.button--success-black-30 {
  --back-color: var(--color-success-black-30);

  &:hover {
    --back-color: var(--color-success-black-40);
  }

  &:active {
    --back-color: var(--color-success-black-30);
  }
}

.button--success-black-40 {
  --back-color: var(--color-success-black-40);

  &:hover {
    --back-color: var(--color-success-black-50);
  }

  &:active {
    --back-color: var(--color-success-black-40);
  }
}

.button--success-black-50 {
  --back-color: var(--color-success-black-50);

  &:hover {
    --back-color: var(--color-success-black-60);
  }

  &:active {
    --back-color: var(--color-success-black-50);
  }
}

.button--success-black-60 {
  --back-color: var(--color-success-black-60);

  &:hover {
    --back-color: var(--color-success-black-70);
  }

  &:active {
    --back-color: var(--color-success-black-60);
  }
}

.button--success-black-70 {
  --back-color: var(--color-success-black-70);

  &:hover {
    --back-color: var(--color-success-black-80);
  }

  &:active {
    --back-color: var(--color-success-black-70);
  }
}

.button--success-black-80 {
  --back-color: var(--color-success-black-80);

  &:hover {
    --back-color: var(--color-success-black-90);
  }

  &:active {
    --back-color: var(--color-success-black-80);
  }
}

.button--success-black-90 {
  --back-color: var(--color-success-black-90);

  &:hover {
    --back-color: black;
  }

  &:active {
    --back-color: var(--color-success-black-90);
  }
}
