@media (width >= 1200px) {
  :root {
    --swiper-navigation-size: 52px;
    --swiper-navigation-sides-offset: 30px;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-size: 8px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    opacity: 0.08;

    .swiper:hover & {
      opacity: 0.64;

      &:hover {
        opacity: 1;
      }
    }
  }
}
