@media (width < 768px) {
  :root {
    --swiper-navigation-size: 36px;
    --swiper-navigation-sides-offset: 20px;
    --swiper-pagination-bullet-horizontal-gap: 3px;
    --swiper-pagination-bullet-size: 6px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    opacity: 0.64;

    .feather {
      padding: 2px;
    }
  }
}
