@keyframes input-spinner {
  100% {
    transform: rotate(180deg);
  }
}

@keyframes input-waiting {
  0% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.8;
  }
}

.input {
  --this-font-size: var(--control-font-size);
  --this-padding-inline: var(--control-padding-inline);
  --this-padding-block: var(--control-padding-block);
  --this-border-width: var(--control-border-width);
  --this-border-radius: var(--control-border-radius);

  --this-icon-size: 18px;
  --this-icon-color: var(--control-text-color);

  --this-text-color: var(--control-text-color);
  --this-background-color: var(--control-background-color);
  --this-border-color: var(--control-border-color);

  --this-hover-text-color: var(--control-hover-text-color);
  --this-hover-background-color: var(--control-hover-background-color);
  --this-hover-border-color: var(--control-hover-border-color);

  --this-focus-text-color: var(--control-focus-text-color);
  --this-focus-background-color: var(--control-focus-background-color);
  --this-focus-border-color: var(--control-focus-border-color);

  position: relative;
  display: inline-flex;
}

.input--disabled {
  opacity: 0.6;
  pointer-events: none;
}

.input--micro {
  --this-icon-size: 15px;
}

.input--small {
  --this-icon-size: 16px;
}

.input--large {
  --this-icon-size: 20px;
}

.input--extra {
  --this-icon-size: 20px;
}

.input__field {
  display: block;
  width: 100%;

  line-height: 1.3;
  font-family: var(--control-font-family);
  font-weight: var(--control-font-weight);
  font-size: var(--this-font-size);
  padding-inline: var(--this-padding-inline);
  padding-block: var(--this-padding-block);
  border-style: solid;
  border-width: var(--whis-border-width);
  border-radius: var(--this-border-radius);
  transition: none;
  text-shadow: none;
  outline-offset: 0;

  color: var(--this-text-color);
  background-color: var(--this-background-color);
  border-color: var(--this-border-color);

  &::placeholder {
    color: var(--control-placeholder-color);
    font-weight: var(--font-weight-thin);
  }

  &[type='number'] {
    /* убираем стрелки */
    -moz-appearance: textfield;
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &:hover {
    outline: none;
    color: var(--this-hover-text-color);
    background-color: var(--this-hover-background-color);
    border-color: var(--this-hover-border-color);
  }

  &:focus {
    outline: 1px solid var(--this-focus-border-color);
    color: var(--this-focus-text-color);
    background-color: var(--this-focus-background-color);
    border-color: var(--this-focus-border-color);
  }

  .input--with-icon & {
    padding-left: calc(var(--this-icon-size) + 1em);
  }
}

.input__icon {
  position: absolute;
  left: 0.675em;
  top: 50%;
  width: var(--this-icon-size);
  margin-top: calc(-1 * var(--this-icon-size) / 2);
  opacity: 0.4;
  pointer-events: none;
  color: var(--this-text-color);
}

.input__icon--spinner {
  stroke-width: 2.5;
  animation: input-spinner 1.5s infinite;
}

.input--waiting {
  &:not(.input--with-icon) {
    animation: input-waiting 1.5s linear infinite;
  }
}

.input--micro {
  --this-font-size: var(--control-micro-font-size);
  --this-padding-inline: var(--control-micro-padding-inline);
  --this-padding-block: var(--control-micro-padding-block);
  --this-border-width: var(--control-micro-border-width);
  --this-border-radius: var(--control-micro-border-radius);
}

.input--small {
  --this-font-size: var(--control-small-font-size);
  --this-padding-inline: var(--control-small-padding-inline);
  --this-padding-block: var(--control-small-padding-block);
  --this-border-width: var(--control-small-border-width);
  --this-border-radius: var(--control-small-border-radius);
}

.input--large {
  --this-font-size: var(--control-large-font-size);
  --this-padding-inline: var(--control-large-padding-inline);
  --this-padding-block: var(--control-large-padding-block);
  --this-border-width: var(--control-large-border-width);
  --this-border-radius: var(--control-large-border-radius);
}

.input--extra {
  --this-font-size: var(--control-extra-font-size);
  --this-padding-inline: var(--control-extra-padding-inline);
  --this-padding-block: var(--control-extra-padding-block);
  --this-border-width: var(--control-extra-border-width);
  --this-border-radius: var(--control-extra-border-radius);
}

.input--grey {
  --this-icon-color: var(--color-grey);
  --this-focus-border-color: var(--color-grey);
}

.input--first {
  --this-icon-color: var(--color-first);
  --this-focus-border-color: var(--color-first);
}

.input--second {
  --this-icon-color: var(--color-second);
  --this-focus-border-color: var(--color-second);
}

.input--third {
  --this-icon-color: var(--color-third);
  --this-focus-border-color: var(--color-third);
}

.input--success {
  --this-icon-color: var(--color-success);
  --this-focus-border-color: var(--color-success);
}

.input--error {
  --this-icon-color: var(--color-error);
  --this-focus-border-color: var(--color-error);
}

.input--invalid {
  --this-icon-color: var(--color-error);
  --this-text-color: var(--control-invalid-text-color);
  --this-background-color: var(--control-invalid-background-color);
  --this-border-color: var(--control-invalid-border-color);

  --this-hover-text-color: var(--control-invalid-text-color);
  --this-hover-background-color: var(--control-invalid-background-color);
  --this-hover-border-color: var(--control-invalid-border-color);

  --this-focus-text-color: var(--control-invalid-text-color);
  --this-focus-background-color: var(--control-invalid-background-color);
  --this-focus-border-color: var(--control-invalid-border-color);
}
