@keyframes radio-spinner {
  100% {
    transform: rotate(180deg);
  }
}

.radio {
  --this-font-size: var(--font-size-base);
  --this-icon-size: 1.1em;

  --this-spinner-color: var(--color-first);

  --this-icon-background-color: var(--control-background-color);
  --this-icon-border-color: var(--control-border-color);

  --this-hover-icon-background-color: var(--color-first-white-90);
  --this-hover-icon-border-color: var(--color-first);

  --this-active-icon-background-color: var(--color-first-white-80);
  --this-active-icon-border-color: var(--color-first);

  --this-checked-icon-background-color: var(--color-first);
  --this-checked-icon-border-color: var(--color-first);

  --this-checked-hover-icon-background-color: var(--color-first-white-10);
  --this-checked-hover-icon-border-color: var(--color-first);

  --this-checked-active-icon-background-color: var(--color-first-white-20);
  --this-checked-active-icon-border-color: var(--color-first);

  position: relative;
  display: inline-flex;
  align-items: flex-start;
  margin: 0;
  gap: 0.5em;
  font-size: var(--this-font-size);
  line-height: 1.3em;
  color: inherit;
  cursor: pointer;
}

.radio--disabled {
  opacity: 0.6;
  pointer-events: none;
}

.radio--waiting {
  cursor: default;
  pointer-events: none;
}

.radio__field {
  font-size: var(--this-font-size);
  position: absolute;
  left: 0;
  top: 0;
  width: var(--this-icon-size);
  height: var(--this-icon-size);
  margin: 0;

  .radio--waiting & {
    display: none;
  }
}

.radio__icon {
  position: relative;
  width: var(--this-icon-size);
  height: var(--this-icon-size);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--this-icon-background-color);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  border: 1.5px solid var(--this-icon-border-color);
  border-radius: 50%;
  cursor: pointer;

  .radio:hover & {
    background-color: var(--this-hover-icon-background-color);
    border-color: var(--this-hover-icon-border-color);
  }

  .radio:active & {
    background-color: var(--this-active-icon-background-color);
    border-color: var(--this-active-icon-border-color);
  }

  .radio--checked & {
    background-color: var(--this-checked-icon-background-color);
    border-color: var(--this-checked-icon-border-color);

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
  }

  .radio--checked:hover & {
    background-color: var(--this-checked-hover-icon-background-color);
    border-color: var(--this-checked-hover-icon-border-color);
  }

  .radio--checked:active & {
    background-color: var(--this-checked-active-icon-background-color);
    border-color: var(--this-checked-active-icon-border-color);
  }

  .radio--invalid & {
    --this-icon-border-color: var(--color-error);
    --this-hover-icon-border-color: var(--color-error);
    --this-active-icon-border-color: var(--color-error);
    --this-checked-icon-border-color: var(--color-error);
    --this-checked-hover-icon-border-color: var(--color-error);
    --this-checked-active-icon-border-color: var(--color-error);
  }
}

.radio__spinner {
  stroke-width: 2.5;
  animation: radio-spinner 1.5s infinite;
  color: var(--this-spinner-color);
  width: var(--this-icon-size);
}

.radio__title {
  flex-grow: 1;
  margin-top: -0.125em;

  & a[href] {
    color: inherit;
    text-decoration: underline;
    pointer-events: all;

    &:hover {
      text-decoration: none;
    }
  }
}

/* Размеры */

.radio--micro {
  --this-font-size: var(--font-size-micro);
}

.radio--small {
  --this-font-size: var(--font-size-small);
}

.radio--large {
  --this-font-size: var(--font-size-large);
}

.radio--extra {
  --this-font-size: var(--font-size-extra);
}
