.guide-preview {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-size: 16px 16px;
  background-position: center;
  padding: 15px;
}

.guide-preview--white {
  --this-grid-color: rgba(0, 0, 0, 0.075);
  background-color: white;
  color: var(--body-text-color);
}

.guide-preview--black {
  --this-grid-color: rgba(255, 255, 255, 0.15);
  background-color: black;
  color: white;
}

.guide-preview--with-grid {
  background-image: linear-gradient(to right, var(--this-grid-color) 1px, transparent 1px),
    linear-gradient(var(--this-grid-color) 1px, transparent 1px);
}

.guide-preview__switcher {
  color: inherit;
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: var(--font-size-micro);
}

.guide-preview__switcher-button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  line-height: 1;
  opacity: 0.6;

  &:hover {
    opacity: 0.8;
  }

  &._active {
    opacity: 1;
    font-weight: var(--font-weight-bold);
  }
}

.guide-preview__switcher-separator {
  &::before {
    content: '|';
  }
}
