@layer variables, global, elements, components, modificators;

@import './variables/index.css' layer(variables);

@import './global.css' layer(global);

@layer global {
  .container {
    width: 100%;
    padding-inline: calc((100% - var(--container-max-width, 100%)) / 2 + var(--container-padding));
  }

  .feather {
    flex-shrink: 0;
    height: auto;
    width: var(--feather-width);
  }
}

@import './_modificators.css' layer(modificators);
