@keyframes button-spinner {
  100% {
    transform: rotate(180deg);
  }
}

@keyframes button-waiting {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

.button {
  --back-color: var(--color-grey-black-50);
  --text-color: white;
  --border-color: transparent;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  gap: 0.625em;

  line-height: 1.3;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-medium);
  font-size: var(--control-font-size);
  padding: var(--control-padding);
  border-style: solid;
  border-width: var(--control-border-width);
  border-radius: var(--control-border-radius);
  transition: none;

  white-space: nowrap;
  max-width: 100%;

  text-shadow: none;
  text-decoration: none;
  cursor: pointer;

  color: var(--text-color);
  background-color: var(--back-color);
  border-color: var(--border-color);

  &:hover {
    --back-color: var(--color-grey-black-60);
    --text-color: white;
    --border-color: transparent;
  }

  &:active {
    --back-color: var(--color-grey-black-50);
    --text-color: white;
    --border-color: transparent;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.75;
  }

  .feather {
    width: 20px;

    .button:not(.button--square) & {
      &:first-child {
        margin-left: -0.2em;
      }

      &:last-child {
        margin-right: -0.2em;
      }
    }
  }

  & > span {
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
  }
}

.button--underline-solid,
.button--underline-dashed,
.button--underline-dotted {
  text-decoration: underline;
}

.button--underline-solid {
  text-decoration-style: solid;
}

.button--underline-dashed {
  text-decoration-style: dashed;
}

.button--fullwidth {
  width: 100%;
}

.button--square {
  padding: var(--control-padding-block);
}

.button--outline {
  color: var(--back-color);
  background-color: transparent;
  border-color: var(--back-color);

  &:hover {
    color: var(--text-color);
    background-color: var(--back-color);
    border-color: var(--border-color);
  }

  &:active {
    color: var(--text-color);
    background-color: var(--back-color);
    border-color: var(--border-color);
  }
}

.button--transparent {
  color: var(--back-color);
  background-color: transparent;
  border-color: transparent;

  &:hover {
    opacity: 0.7;
    color: var(--back-color);
    background-color: transparent;
    border-color: transparent;
  }

  &:active {
    opacity: 1;
    color: var(--back-color);
    background-color: transparent;
    border-color: transparent;
  }
}

.button--micro {
  font-size: var(--control-micro-font-size);
  padding: var(--control-micro-padding);
  border-width: var(--control-micro-border-width);
  border-radius: var(--control-micro-border-radius);

  &.button--square {
    padding: var(--control-micro-padding-block);
  }

  .feather {
    width: 15px;
  }
}

.button--small {
  font-size: var(--control-small-font-size);
  padding: var(--control-small-padding);
  border-width: var(--control-small-border-width);
  border-radius: var(--control-small-border-radius);

  &.button--square {
    padding: var(--control-small-padding-block);
  }

  .feather {
    width: 17px;
  }
}

.button--large {
  font-size: var(--control-large-font-size);
  padding: var(--control-large-padding);
  border-width: var(--control-large-border-width);
  border-radius: var(--control-large-border-radius);

  &.button--square {
    padding: var(--control-large-padding-block);
  }

  .feather {
    width: 20px;
  }
}

.button--extra {
  font-size: var(--control-extra-font-size);
  padding: var(--control-extra-padding);
  border-width: var(--control-extra-border-width);
  border-radius: var(--control-extra-border-radius);

  &.button--square {
    padding: var(--control-extra-padding-block);
  }

  .feather {
    width: 20px;
  }
}

.button--waiting {
  animation: button-waiting 1.5s linear infinite;
}

.button__spinner {
  stroke-width: 2.5;
  animation: button-spinner 1.5s infinite;
}
