@keyframes button-spinner {
  100% {
    transform: rotate(180deg);
  }
}

@keyframes button-waiting {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

.button {
  --this-font-size: var(--control-font-size);
  --this-padding-inline: var(--control-padding-inline);
  --this-padding-block: var(--control-padding-block);
  --this-border-width: var(--control-border-width);
  --this-border-radius: var(--control-border-radius);

  --this-text-color: white;
  --this-background-color: var(--color-grey-black-40);
  --this-hover-background-color: var(--color-grey-black-50);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  gap: 0.625em;

  line-height: 1.3;
  font-family: var(--control-font-family);
  font-weight: var(--font-weight-medium);
  font-size: var(--this-font-size);
  padding-inline: var(--this-padding-inline);
  padding-block: var(--this-padding-block);
  border-style: solid;
  border-width: var(--this-border-width);
  border-radius: var(--this-border-radius);
  transition: none;

  white-space: nowrap;
  max-width: 100%;

  text-shadow: none;
  text-decoration: none;
  cursor: pointer;

  color: var(--this-text-color);
  background-color: var(--this-background-color);
  border-color: transparent;

  &:hover {
    color: var(--this-text-color);
    background-color: var(--this-hover-background-color);
    border-color: transparent;
  }

  &:active {
    color: var(--this-text-color);
    background-color: var(--this-background-color);
    border-color: transparent;
  }
}

.button--disabled {
  pointer-events: none;
  opacity: 0.6;
}

.button--waiting {
  pointer-events: none;
}

.button__text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.button__icon {
  width: max(16px, 1.1em);

  &:first-child {
    margin-left: -0.2em;
  }

  &:last-child {
    margin-right: -0.2em;
  }

  .button--square & {
    margin-left: 0;
    margin-right: 0;
  }
}

.button__icon--spinner {
  stroke-width: 2.5;
  animation: button-spinner 1.5s infinite;
}

.button--underline-solid,
.button--underline-dashed,
.button--underline-dotted {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.button--underline-solid {
  text-decoration-style: solid;
}

.button--underline-dashed {
  text-decoration-style: dashed;
}

.button--fullwidth {
  width: 100%;
}

.button--outline {
  color: var(--this-background-color);
  background-color: transparent;
  border-color: var(--this-background-color);

  &:hover {
    color: var(--this-text-color);
    background-color: var(--this-hover-background-color);
    border-color: transparent;
  }

  &:active {
    color: var(--this-text-color);
    background-color: var(--this-background-color);
    border-color: transparent;
  }
}

.button--transparent {
  color: var(--this-background-color);
  background-color: transparent;
  border-color: transparent;

  &:hover {
    color: var(--this-background-color);
    background-color: transparent;
    border-color: transparent;
    opacity: 0.7;
  }

  &:active {
    color: var(--this-background-color);
    background-color: transparent;
    border-color: transparent;
    opacity: 1;
  }
}

/* Размеры */

.button--micro {
  --this-font-size: var(--control-micro-font-size);
  --this-padding-inline: var(--control-micro-padding-inline);
  --this-padding-block: var(--control-micro-padding-block);
  --this-border-width: var(--control-micro-border-width);
  --this-border-radius: var(--control-micro-border-radius);
}

.button--small {
  --this-font-size: var(--control-small-font-size);
  --this-padding-inline: var(--control-small-padding-inline);
  --this-padding-block: var(--control-small-padding-block);
  --this-border-width: var(--control-small-border-width);
  --this-border-radius: var(--control-small-border-radius);
}

.button--large {
  --this-font-size: var(--control-large-font-size);
  --this-padding-inline: var(--control-large-padding-inline);
  --this-padding-block: var(--control-large-padding-block);
  --this-border-width: var(--control-large-border-width);
  --this-border-radius: var(--control-large-border-radius);
}

.button--extra {
  --this-font-size: var(--control-extra-font-size);
  --this-padding-inline: var(--control-extra-padding-inline);
  --this-padding-block: var(--control-extra-padding-block);
  --this-border-width: var(--control-extra-border-width);
  --this-border-radius: var(--control-extra-border-radius);
}

.button--square {
  --this-padding-inline: var(--this-padding-block);
}

.button--waiting {
  &:not(:has(.button__icon--spinner)) {
    animation: button-waiting 1.5s linear infinite;
  }
}
