@keyframes radio-smart-spinner {
  100% {
    transform: rotate(180deg);
  }
}

.radio-smart {
  --this-font-size: var(--font-size-base);
  --this-icon-size: 1.1em;
  --this-padding-inline: 1em;
  --this-padding-block: 0.75em;

  /* this */

  --this-text-color: var(--control-text-color);
  --this-background-color: var(--control-background-color);
  --this-border-color: var(--control-border-color);

  --this-hover-text-color: var(--control-hover-text-color);
  --this-hover-background-color: var(--control-hover-background-color);
  --this-hover-border-color: var(--control-hover-border-color);

  --this-focus-text-color: var(--control-focus-text-color);
  --this-focus-background-color: var(--control-focus-background-color);
  --this-focus-border-color: var(--control-focus-border-color);

  --this-checked-border-color: var(--color-first);

  /* this-icon */

  --this-icon-background-color: var(--control-background-color);
  --this-icon-border-color: var(--control-border-color);

  --this-hover-icon-background-color: var(--color-first-white-90);
  --this-hover-icon-border-color: var(--color-first);

  --this-active-icon-background-color: var(--color-first-white-80);
  --this-active-icon-border-color: var(--color-first);

  --this-checked-icon-background-color: var(--color-first);
  --this-checked-icon-border-color: var(--color-first);

  --this-checked-hover-icon-background-color: var(--color-first-white-10);
  --this-checked-hover-icon-border-color: var(--color-first);

  --this-checked-active-icon-background-color: var(--color-first-white-20);
  --this-checked-active-icon-border-color: var(--color-first);

  /* this-spinner */

  --this-spinner-color: var(--color-first);

  position: relative;
  display: inline-flex;
  align-items: flex-start;
  margin: 0;
  padding-inline: var(--this-padding-inline);
  padding-block: var(--this-padding-block);
  gap: 0.5em;
  font-size: var(--this-font-size);
  line-height: 1.3em;
  color: var(--this-text-color);
  background-color: var(--this-background-color);
  cursor: pointer;
  border-style: solid;
  border-width: var(--control-border-width);
  border-radius: var(--control-border-radius);
  border-color: var(--this-border-color);

  &:hover {
    color: var(--this-hover-text-color);
    background-color: var(--this-hover-background-color);
    border-color: var(--this-hover-border-color);
  }

  &:focus {
    color: var(--this-focus-text-color);
    background-color: var(--this-focus-background-color);
    border-color: var(--this-focus-border-color);
  }
}

.radio-smart--checked {
  border-color: var(--this-checked-border-color);
  outline: 0.5px solid var(--this-checked-border-color);
  outline-offset: 0;

  &:hover {
    border-color: var(--this-checked-border-color);
  }

  &:focus {
    border-color: var(--this-checked-border-color);
  }
}

.radio-smart--disabled {
  opacity: 0.6;
  pointer-events: none;
}

.radio-smart--waiting {
  cursor: default;
  pointer-events: none;
}

.radio-smart__field {
  font-size: var(--this-font-size);
  position: absolute;
  left: var(--this-padding-inline);
  top: var(--this-padding-block);
  width: var(--this-icon-size);
  height: var(--this-icon-size);
  margin: 0;

  .radio-smart--waiting & {
    display: none;
  }
}

.radio-smart__icon {
  position: relative;
  width: var(--this-icon-size);
  height: var(--this-icon-size);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--this-icon-background-color);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  border: 1.5px solid var(--this-icon-border-color);
  border-radius: 50%;
  cursor: pointer;

  .radio-smart:hover & {
    background-color: var(--this-hover-icon-background-color);
    border-color: var(--this-hover-icon-border-color);
  }

  .radio-smart:active & {
    background-color: var(--this-active-icon-background-color);
    border-color: var(--this-active-icon-border-color);
  }

  .radio-smart--checked & {
    background-color: var(--this-checked-icon-background-color);
    border-color: var(--this-checked-icon-border-color);

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
  }

  .radio-smart--checked:hover & {
    background-color: var(--this-checked-hover-icon-background-color);
    border-color: var(--this-checked-hover-icon-border-color);
  }

  .radio-smart--checked:active & {
    background-color: var(--this-checked-active-icon-background-color);
    border-color: var(--this-checked-active-icon-border-color);
  }

  .radio-smart--invalid & {
    --this-text-color: var(--control-invalid-text-color);
    --this-background-color: var(--control-invalid-background-color);
    --this-border-color: var(--control-invalid-border-color);

    --this-hover-text-color: var(--control-invalid-text-color);
    --this-hover-background-color: var(--control-invalid-background-color);
    --this-hover-border-color: var(--control-invalid-border-color);

    --this-focus-text-color: var(--control-invalid-text-color);
    --this-focus-background-color: var(--control-invalid-background-color);
    --this-focus-border-color: var(--control-invalid-border-color);

    --this-icon-border-color: var(--color-error);
    --this-hover-icon-border-color: var(--color-error);
    --this-active-icon-border-color: var(--color-error);

    --this-checked-icon-border-color: var(--color-error);
    --this-checked-hover-icon-border-color: var(--color-error);
    --this-checked-active-icon-border-color: var(--color-error);
  }
}

.radio-smart__spinner {
  stroke-width: 2.5;
  animation: radio-spinner 1.5s infinite;
  color: var(--this-spinner-color);
  width: var(--this-icon-size);
}

.radio-smart__body {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  margin-top: -0.125em;
  flex-grow: 1;

  & a[href] {
    color: inherit;
    text-decoration: underline;
    pointer-events: all;

    &:hover {
      text-decoration: none;
    }
  }
}

.radio-smart__title {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-semibold);
}

.radio-smart__caption {
  opacity: 0.75;
  font-size: max(0.8em, var(--font-size-micro));
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  line-height: 1.3;
}

/* Размеры */

.radio-smart--micro {
  --this-font-size: var(--font-size-micro);
}

.radio-smart--small {
  --this-font-size: var(--font-size-small);
}

.radio-smart--large {
  --this-font-size: var(--font-size-large);
}

.radio-smart--extra {
  --this-font-size: var(--font-size-extra);
}
