@keyframes input-spinner {
  100% {
    transform: rotate(180deg);
  }
}

@keyframes input-waiting {
  0% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.8;
  }
}

.select {
  --this-font-size: var(--control-font-size);
  --this-padding-inline: var(--control-padding-inline);
  --this-padding-block: var(--control-padding-block);
  --this-border-width: var(--control-border-width);
  --this-border-radius: var(--control-border-radius);

  --this-icon-size: 18px;
  --this-icon-color: var(--control-text-color);

  --this-text-color: var(--control-text-color);
  --this-background-color: var(--control-background-color);
  --this-border-color: var(--control-border-color);

  --this-hover-text-color: var(--control-hover-text-color);
  --this-hover-background-color: var(--control-hover-background-color);
  --this-hover-border-color: var(--control-hover-border-color);

  --this-focus-text-color: var(--control-focus-text-color);
  --this-focus-background-color: var(--control-focus-background-color);
  --this-focus-border-color: var(--control-focus-border-color);

  position: relative;
  display: inline-grid;
  grid-template-areas: 'field';
}

.select--disabled {
  opacity: 0.6;
  pointer-events: none;
}

.select--micro {
  --this-icon-size: 15px;
}

.select--small {
  --this-icon-size: 16px;
}

.select--large {
  --this-icon-size: 20px;
}

.select--extra {
  --this-icon-size: 20px;
}

.select__field,
.select__placeholder {
  grid-area: field;

  line-height: 1.3;
  font-family: var(--control-font-family);
  font-weight: var(--font-weight-thin);
  font-size: var(--this-font-size);
  padding-inline: var(--this-padding-inline);
  padding-block: var(--this-padding-block);
  border-radius: var(--this-border-radius);
  text-shadow: none;

  background-image: url('data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMxODM1NDYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLWNoZXZyb24tZG93biI+PHBvbHlsaW5lIHBvaW50cz0iNiA5IDEyIDE1IDE4IDkiPjwvcG9seWxpbmU+PC9zdmc+');
  background-repeat: no-repeat;
  background-size: var(--this-icon-size);
  background-position: center right 0.675em;
  padding-right: calc(var(--this-icon-size) + 1.5em);

  .select--with-icon & {
    padding-left: calc(var(--this-icon-size) + 1em);
  }
}

.select__field {
  display: block;
  width: 100%;

  border-style: solid;
  border-width: var(--whis-border-width);
  transition: none;
  outline-offset: 0;

  color: var(--this-text-color);
  background-color: var(--this-background-color);
  border-color: var(--this-border-color);

  -webkit-appearance: none;
  appearance: none;

  &:hover {
    outline: none;
    color: var(--this-hover-text-color);
    background-color: var(--this-hover-background-color);
    border-color: var(--this-hover-border-color);
  }

  &:focus {
    outline: 1px solid var(--this-focus-border-color);
    color: var(--this-focus-text-color);
    background-color: var(--this-focus-background-color);
    border-color: var(--this-focus-border-color);
  }

  &:has(+ .select__placeholder--visible) {
    color: transparent;
  }
}

.select__placeholder {
  margin: var(--this-border-width);
  color: var(--control-placeholder-color);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.select__placeholder--visible {
  visibility: visible;
  opacity: 1;
}

.select__icon {
  position: absolute;
  left: 0.675em;
  top: 50%;
  width: var(--this-icon-size);
  margin-top: calc(-1 * var(--this-icon-size) / 2);
  opacity: 0.4;
  pointer-events: none;
  color: var(--this-text-color);
}

.select__icon--spinner {
  stroke-width: 2.5;
  animation: input-spinner 1.5s infinite;
}

.select--waiting {
  pointer-events: none;

  &:not(.select--with-icon) {
    animation: input-waiting 1.5s linear infinite;
  }
}

.select--micro {
  --this-font-size: var(--control-micro-font-size);
  --this-padding-inline: var(--control-micro-padding-inline);
  --this-padding-block: var(--control-micro-padding-block);
  --this-border-width: var(--control-micro-border-width);
  --this-border-radius: var(--control-micro-border-radius);
}

.select--small {
  --this-font-size: var(--control-small-font-size);
  --this-padding-inline: var(--control-small-padding-inline);
  --this-padding-block: var(--control-small-padding-block);
  --this-border-width: var(--control-small-border-width);
  --this-border-radius: var(--control-small-border-radius);
}

.select--large {
  --this-font-size: var(--control-large-font-size);
  --this-padding-inline: var(--control-large-padding-inline);
  --this-padding-block: var(--control-large-padding-block);
  --this-border-width: var(--control-large-border-width);
  --this-border-radius: var(--control-large-border-radius);
}

.select--extra {
  --this-font-size: var(--control-extra-font-size);
  --this-padding-inline: var(--control-extra-padding-inline);
  --this-padding-block: var(--control-extra-padding-block);
  --this-border-width: var(--control-extra-border-width);
  --this-border-radius: var(--control-extra-border-radius);
}

.select--grey {
  --this-icon-color: var(--color-grey);
  --this-focus-border-color: var(--color-grey);
}

.select--first {
  --this-icon-color: var(--color-first);
  --this-focus-border-color: var(--color-first);
}

.select--second {
  --this-icon-color: var(--color-second);
  --this-focus-border-color: var(--color-second);
}

.select--third {
  --this-icon-color: var(--color-third);
  --this-focus-border-color: var(--color-third);
}

.select--success {
  --this-icon-color: var(--color-success);
  --this-focus-border-color: var(--color-success);
}

.select--error {
  --this-icon-color: var(--color-error);
  --this-focus-border-color: var(--color-error);
}

.select--invalid {
  --this-icon-color: var(--color-error);
  --this-text-color: var(--control-invalid-text-color);
  --this-background-color: var(--control-invalid-background-color);
  --this-border-color: var(--control-invalid-border-color);

  --this-hover-text-color: var(--control-invalid-text-color);
  --this-hover-background-color: var(--control-invalid-background-color);
  --this-hover-border-color: var(--control-invalid-border-color);

  --this-focus-text-color: var(--control-invalid-text-color);
  --this-focus-background-color: var(--control-invalid-background-color);
  --this-focus-border-color: var(--control-invalid-border-color);
}
