:root {
  --color-rate: hsl(43, 100%, 50%);
}

.react-simple-star-rating {
  display: block !important;

  [class*='style-module']:has(> &) {
    display: block !important;
  }

  .empty-icons,
  .filled-icons {
    display: flex !important;
    gap: 0.1em !important;

    .feather {
      fill: currentColor;
    }
  }

  .empty-icons {
    color: var(--rate-empty-color, var(--color-grey-black-70, grey)) !important;
  }

  .filled-icons {
    color: var(--rate-color, orange) !important;
  }
}
