.guide-color {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.guide-color__group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.guide-color__group-title {
  white-space: nowrap;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semibold);
}

.guide-color__item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  border-radius: 6px;
  font-size: var(--font-size-small);

  .guide-color__header & {
    font-size: var(--font-size-base);
    white-space: nowrap;
    font-weight: var(--font-weight-semibold);
  }
}
