.guide-color {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.guide-color__group {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.guide-color__group-title {
  white-space: nowrap;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semibold);
}

.guide-color__item {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.guide-color__item-square {
  height: 35px;
  width: 100%;
  border-radius: 6px;
}

.guide-color__item-title {
  white-space: nowrap;
  font-weight: var(--font-weight-semibold);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guide-color__item-lvl {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-micro);
  text-align: center;
}
