:root {
  /* color-grey */

  --color-grey: hsl(210, 13%, 50%);
  --color-grey-text: white;

  --color-grey-white-10: color-mix(in srgb, var(--color-grey), white 10%);
  --color-grey-white-20: color-mix(in srgb, var(--color-grey), white 20%);
  --color-grey-white-30: color-mix(in srgb, var(--color-grey), white 30%);
  --color-grey-white-40: color-mix(in srgb, var(--color-grey), white 40%);
  --color-grey-white-50: color-mix(in srgb, var(--color-grey), white 50%);
  --color-grey-white-60: color-mix(in srgb, var(--color-grey), white 60%);
  --color-grey-white-70: color-mix(in srgb, var(--color-grey), white 70%);
  --color-grey-white-80: color-mix(in srgb, var(--color-grey), white 80%);
  --color-grey-white-90: color-mix(in srgb, var(--color-grey), white 90%);

  --color-grey-black-10: color-mix(in srgb, var(--color-grey), black 10%);
  --color-grey-black-20: color-mix(in srgb, var(--color-grey), black 20%);
  --color-grey-black-30: color-mix(in srgb, var(--color-grey), black 30%);
  --color-grey-black-40: color-mix(in srgb, var(--color-grey), black 40%);
  --color-grey-black-50: color-mix(in srgb, var(--color-grey), black 50%);
  --color-grey-black-60: color-mix(in srgb, var(--color-grey), black 60%);
  --color-grey-black-70: color-mix(in srgb, var(--color-grey), black 70%);
  --color-grey-black-80: color-mix(in srgb, var(--color-grey), black 80%);
  --color-grey-black-90: color-mix(in srgb, var(--color-grey), black 90%);

  --color-grey-trans-10: color-mix(in srgb, var(--color-grey), transparent 10%);
  --color-grey-trans-20: color-mix(in srgb, var(--color-grey), transparent 20%);
  --color-grey-trans-30: color-mix(in srgb, var(--color-grey), transparent 30%);
  --color-grey-trans-40: color-mix(in srgb, var(--color-grey), transparent 40%);
  --color-grey-trans-50: color-mix(in srgb, var(--color-grey), transparent 50%);
  --color-grey-trans-60: color-mix(in srgb, var(--color-grey), transparent 60%);
  --color-grey-trans-70: color-mix(in srgb, var(--color-grey), transparent 70%);
  --color-grey-trans-80: color-mix(in srgb, var(--color-grey), transparent 80%);
  --color-grey-trans-90: color-mix(in srgb, var(--color-grey), transparent 90%);

  /* color-first */

  --color-first: hsl(208, 87%, 50%);
  --color-first-text: white;

  --color-first-white-10: color-mix(in srgb, var(--color-first), white 10%);
  --color-first-white-20: color-mix(in srgb, var(--color-first), white 20%);
  --color-first-white-30: color-mix(in srgb, var(--color-first), white 30%);
  --color-first-white-40: color-mix(in srgb, var(--color-first), white 40%);
  --color-first-white-50: color-mix(in srgb, var(--color-first), white 50%);
  --color-first-white-60: color-mix(in srgb, var(--color-first), white 60%);
  --color-first-white-70: color-mix(in srgb, var(--color-first), white 70%);
  --color-first-white-80: color-mix(in srgb, var(--color-first), white 80%);
  --color-first-white-90: color-mix(in srgb, var(--color-first), white 90%);

  --color-first-black-10: color-mix(in srgb, var(--color-first), black 10%);
  --color-first-black-20: color-mix(in srgb, var(--color-first), black 20%);
  --color-first-black-30: color-mix(in srgb, var(--color-first), black 30%);
  --color-first-black-40: color-mix(in srgb, var(--color-first), black 40%);
  --color-first-black-50: color-mix(in srgb, var(--color-first), black 50%);
  --color-first-black-60: color-mix(in srgb, var(--color-first), black 60%);
  --color-first-black-70: color-mix(in srgb, var(--color-first), black 70%);
  --color-first-black-80: color-mix(in srgb, var(--color-first), black 80%);
  --color-first-black-90: color-mix(in srgb, var(--color-first), black 90%);

  --color-first-trans-10: color-mix(in srgb, var(--color-first), transparent 10%);
  --color-first-trans-20: color-mix(in srgb, var(--color-first), transparent 20%);
  --color-first-trans-30: color-mix(in srgb, var(--color-first), transparent 30%);
  --color-first-trans-40: color-mix(in srgb, var(--color-first), transparent 40%);
  --color-first-trans-50: color-mix(in srgb, var(--color-first), transparent 50%);
  --color-first-trans-60: color-mix(in srgb, var(--color-first), transparent 60%);
  --color-first-trans-70: color-mix(in srgb, var(--color-first), transparent 70%);
  --color-first-trans-80: color-mix(in srgb, var(--color-first), transparent 80%);
  --color-first-trans-90: color-mix(in srgb, var(--color-first), transparent 90%);

  /* color-second */

  --color-second: var(--color-first);
  --color-second-text: white;

  --color-second-white-10: color-mix(in srgb, var(--color-second), white 10%);
  --color-second-white-20: color-mix(in srgb, var(--color-second), white 20%);
  --color-second-white-30: color-mix(in srgb, var(--color-second), white 30%);
  --color-second-white-40: color-mix(in srgb, var(--color-second), white 40%);
  --color-second-white-50: color-mix(in srgb, var(--color-second), white 50%);
  --color-second-white-60: color-mix(in srgb, var(--color-second), white 60%);
  --color-second-white-70: color-mix(in srgb, var(--color-second), white 70%);
  --color-second-white-80: color-mix(in srgb, var(--color-second), white 80%);
  --color-second-white-90: color-mix(in srgb, var(--color-second), white 90%);

  --color-second-black-10: color-mix(in srgb, var(--color-second), black 10%);
  --color-second-black-20: color-mix(in srgb, var(--color-second), black 20%);
  --color-second-black-30: color-mix(in srgb, var(--color-second), black 30%);
  --color-second-black-40: color-mix(in srgb, var(--color-second), black 40%);
  --color-second-black-50: color-mix(in srgb, var(--color-second), black 50%);
  --color-second-black-60: color-mix(in srgb, var(--color-second), black 60%);
  --color-second-black-70: color-mix(in srgb, var(--color-second), black 70%);
  --color-second-black-80: color-mix(in srgb, var(--color-second), black 80%);
  --color-second-black-90: color-mix(in srgb, var(--color-second), black 90%);

  --color-second-trans-10: color-mix(in srgb, var(--color-second), transparent 10%);
  --color-second-trans-20: color-mix(in srgb, var(--color-second), transparent 20%);
  --color-second-trans-30: color-mix(in srgb, var(--color-second), transparent 30%);
  --color-second-trans-40: color-mix(in srgb, var(--color-second), transparent 40%);
  --color-second-trans-50: color-mix(in srgb, var(--color-second), transparent 50%);
  --color-second-trans-60: color-mix(in srgb, var(--color-second), transparent 60%);
  --color-second-trans-70: color-mix(in srgb, var(--color-second), transparent 70%);
  --color-second-trans-80: color-mix(in srgb, var(--color-second), transparent 80%);
  --color-second-trans-90: color-mix(in srgb, var(--color-second), transparent 90%);

  /* color-third */

  --color-third: var(--color-first);
  --color-third-text: white;

  --color-third-white-10: color-mix(in srgb, var(--color-third), white 10%);
  --color-third-white-20: color-mix(in srgb, var(--color-third), white 20%);
  --color-third-white-30: color-mix(in srgb, var(--color-third), white 30%);
  --color-third-white-40: color-mix(in srgb, var(--color-third), white 40%);
  --color-third-white-50: color-mix(in srgb, var(--color-third), white 50%);
  --color-third-white-60: color-mix(in srgb, var(--color-third), white 60%);
  --color-third-white-70: color-mix(in srgb, var(--color-third), white 70%);
  --color-third-white-80: color-mix(in srgb, var(--color-third), white 80%);
  --color-third-white-90: color-mix(in srgb, var(--color-third), white 90%);

  --color-third-black-10: color-mix(in srgb, var(--color-third), black 10%);
  --color-third-black-20: color-mix(in srgb, var(--color-third), black 20%);
  --color-third-black-30: color-mix(in srgb, var(--color-third), black 30%);
  --color-third-black-40: color-mix(in srgb, var(--color-third), black 40%);
  --color-third-black-50: color-mix(in srgb, var(--color-third), black 50%);
  --color-third-black-60: color-mix(in srgb, var(--color-third), black 60%);
  --color-third-black-70: color-mix(in srgb, var(--color-third), black 70%);
  --color-third-black-80: color-mix(in srgb, var(--color-third), black 80%);
  --color-third-black-90: color-mix(in srgb, var(--color-third), black 90%);

  --color-third-trans-10: color-mix(in srgb, var(--color-third), transparent 10%);
  --color-third-trans-20: color-mix(in srgb, var(--color-third), transparent 20%);
  --color-third-trans-30: color-mix(in srgb, var(--color-third), transparent 30%);
  --color-third-trans-40: color-mix(in srgb, var(--color-third), transparent 40%);
  --color-third-trans-50: color-mix(in srgb, var(--color-third), transparent 50%);
  --color-third-trans-60: color-mix(in srgb, var(--color-third), transparent 60%);
  --color-third-trans-70: color-mix(in srgb, var(--color-third), transparent 70%);
  --color-third-trans-80: color-mix(in srgb, var(--color-third), transparent 80%);
  --color-third-trans-90: color-mix(in srgb, var(--color-third), transparent 90%);

  /* color-success */

  --color-success: green;
  --color-success-text: white;

  --color-success-white-10: color-mix(in srgb, var(--color-success), white 10%);
  --color-success-white-20: color-mix(in srgb, var(--color-success), white 20%);
  --color-success-white-30: color-mix(in srgb, var(--color-success), white 30%);
  --color-success-white-40: color-mix(in srgb, var(--color-success), white 40%);
  --color-success-white-50: color-mix(in srgb, var(--color-success), white 50%);
  --color-success-white-60: color-mix(in srgb, var(--color-success), white 60%);
  --color-success-white-70: color-mix(in srgb, var(--color-success), white 70%);
  --color-success-white-80: color-mix(in srgb, var(--color-success), white 80%);
  --color-success-white-90: color-mix(in srgb, var(--color-success), white 90%);

  --color-success-black-10: color-mix(in srgb, var(--color-success), black 10%);
  --color-success-black-20: color-mix(in srgb, var(--color-success), black 20%);
  --color-success-black-30: color-mix(in srgb, var(--color-success), black 30%);
  --color-success-black-40: color-mix(in srgb, var(--color-success), black 40%);
  --color-success-black-50: color-mix(in srgb, var(--color-success), black 50%);
  --color-success-black-60: color-mix(in srgb, var(--color-success), black 60%);
  --color-success-black-70: color-mix(in srgb, var(--color-success), black 70%);
  --color-success-black-80: color-mix(in srgb, var(--color-success), black 80%);
  --color-success-black-90: color-mix(in srgb, var(--color-success), black 90%);

  --color-success-trans-10: color-mix(in srgb, var(--color-success), transparent 10%);
  --color-success-trans-20: color-mix(in srgb, var(--color-success), transparent 20%);
  --color-success-trans-30: color-mix(in srgb, var(--color-success), transparent 30%);
  --color-success-trans-40: color-mix(in srgb, var(--color-success), transparent 40%);
  --color-success-trans-50: color-mix(in srgb, var(--color-success), transparent 50%);
  --color-success-trans-60: color-mix(in srgb, var(--color-success), transparent 60%);
  --color-success-trans-70: color-mix(in srgb, var(--color-success), transparent 70%);
  --color-success-trans-80: color-mix(in srgb, var(--color-success), transparent 80%);
  --color-success-trans-90: color-mix(in srgb, var(--color-success), transparent 90%);

  /* color-error */

  --color-error: red;
  --color-error-text: white;

  --color-error-white-10: color-mix(in srgb, var(--color-error), white 10%);
  --color-error-white-20: color-mix(in srgb, var(--color-error), white 20%);
  --color-error-white-30: color-mix(in srgb, var(--color-error), white 30%);
  --color-error-white-40: color-mix(in srgb, var(--color-error), white 40%);
  --color-error-white-50: color-mix(in srgb, var(--color-error), white 50%);
  --color-error-white-60: color-mix(in srgb, var(--color-error), white 60%);
  --color-error-white-70: color-mix(in srgb, var(--color-error), white 70%);
  --color-error-white-80: color-mix(in srgb, var(--color-error), white 80%);
  --color-error-white-90: color-mix(in srgb, var(--color-error), white 90%);

  --color-error-black-10: color-mix(in srgb, var(--color-error), black 10%);
  --color-error-black-20: color-mix(in srgb, var(--color-error), black 20%);
  --color-error-black-30: color-mix(in srgb, var(--color-error), black 30%);
  --color-error-black-40: color-mix(in srgb, var(--color-error), black 40%);
  --color-error-black-50: color-mix(in srgb, var(--color-error), black 50%);
  --color-error-black-60: color-mix(in srgb, var(--color-error), black 60%);
  --color-error-black-70: color-mix(in srgb, var(--color-error), black 70%);
  --color-error-black-80: color-mix(in srgb, var(--color-error), black 80%);
  --color-error-black-90: color-mix(in srgb, var(--color-error), black 90%);

  --color-error-trans-10: color-mix(in srgb, var(--color-error), transparent 10%);
  --color-error-trans-20: color-mix(in srgb, var(--color-error), transparent 20%);
  --color-error-trans-30: color-mix(in srgb, var(--color-error), transparent 30%);
  --color-error-trans-40: color-mix(in srgb, var(--color-error), transparent 40%);
  --color-error-trans-50: color-mix(in srgb, var(--color-error), transparent 50%);
  --color-error-trans-60: color-mix(in srgb, var(--color-error), transparent 60%);
  --color-error-trans-70: color-mix(in srgb, var(--color-error), transparent 70%);
  --color-error-trans-80: color-mix(in srgb, var(--color-error), transparent 80%);
  --color-error-trans-90: color-mix(in srgb, var(--color-error), transparent 90%);
}
