@media (width >= 1200px) {
  :root {
    /* fonts */

    --font-size-h6: 1.1em;
    --font-size-h5: 1.2em;
    --font-size-h4: 1.3em;
    --font-size-h3: 1.5em;
    --font-size-h2: 1.8em;
    --font-size-h1: 2.5em;

    /* elements  */

    --rounded-radius: 12px;
    --container-padding: 40px;
    --feather-width: 24px;
  }
}

@media (width >= 1680px) {
  :root {
    --container-max-width: 1680px;
  }
}
