@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --font-family-base: 'Mulish', 'Arial', sans-serif;
  --font-family-title: 'Mulish', 'Arial', sans-serif;

  --font-weight-thin: 320;
  --font-weight-regular: 400;
  --font-weight-medium: 520;
  --font-weight-semibold: 650;
  --font-weight-bold: 720;

  --font-size-micro: 0.8rem;
  --font-size-small: 0.9rem;
  --font-size-base: 1rem;
  --font-size-large: 1.125rem;
  --font-size-extra: 1.25rem;
}

/* Phone */

@media (width < 768px) {
  :root {
    --font-size-h6: var(--font-size-base);
    --font-size-h5: calc(1.05em + 0.125vw);
    --font-size-h4: calc(1.05em + 0.25vw);
    --font-size-h3: calc(1.1em + 0.5vw);
    --font-size-h2: calc(1.2em + 0.75vw);
    --font-size-h1: calc(1.3em + 1vw);
  }
}

/* Tablet */

@media (768px <= width < 1200px) {
  :root {
    --font-size-h6: var(--font-size-base);
    --font-size-h5: calc(1.1em + 0.125vw);
    --font-size-h4: calc(1.1em + 0.25vw);
    --font-size-h3: calc(1.2em + 0.5vw);
    --font-size-h2: calc(1.3em + 0.75vw);
    --font-size-h1: calc(1.5em + 1vw);
  }
}

/* Desktop */

@media (width >= 1200px) {
  :root {
    --font-size-h6: 1.1em;
    --font-size-h5: 1.2em;
    --font-size-h4: 1.3em;
    --font-size-h3: 1.5em;
    --font-size-h2: 1.8em;
    --font-size-h1: 2.5em;
  }
}
