@media (width < 768px) {
  :root {
    /* fonts  */

    --font-size-h6: var(--font-size-base);
    --font-size-h5: calc(1.05em + 0.125vw);
    --font-size-h4: calc(1.05em + 0.25vw);
    --font-size-h3: calc(1.1em + 0.5vw);
    --font-size-h2: calc(1.2em + 0.75vw);
    --font-size-h1: calc(1.3em + 1vw);

    /* elements  */

    --rounded-radius: 7px;
    --container-padding: 15px;
    --feather-width: 20px;
  }
}
