:root {
  --z-toastify: 12;
  --z-preloader: 11;
  --z-confirm: 10;
  --z-cookies: 9;
  --z-modal: 8;
  --z-side-popup: 7;
  --z-fixy: 6;
  --z-header-top: 5;
  --z-header-sticked: 4;
  --z-search: 3;
  --z-mobile-menu: 2;
  --z-prefixy: 1;
}
