.alert {
  --this-text-color: inherit;
  --this-background-color: transparent;
  --this-border-color: var(--color-grey-trans-80);
  --this-font-size: var(--font-size-base);

  background-color: var(--this-background-color);
  border-radius: var(--control-border-radius);
  font-size: var(--this-font-size);
  white-space: pre-wrap;
  padding: 0.75em 1.5em;
  color: var(--this-text-color);
  display: grid;
  gap: 0.5em;
  border: 2px solid var(--this-border-color);

  & > * {
    margin: 0;
  }
}

/* Размеры */

.alert--micro {
  --this-font-size: var(--font-size-micro);
}

.alert--small {
  --this-font-size: var(--font-size-small);
}

.alert--large {
  --this-font-size: var(--font-size-large);
}

.alert--extra {
  --this-font-size: var(--font-size-extra);
}

/* Цвета */

.alert--grey {
  --this-text-color: var(--color-grey);
  --this-background-color: var(--color-grey-trans-80);
  --this-border-color: var(--color-grey-trans-90);
}

.alert--first {
  --this-text-color: var(--color-first);
  --this-background-color: var(--color-first-trans-80);
  --this-border-color: var(--color-first-trans-90);
}

.alert--second {
  --this-text-color: var(--color-second);
  --this-background-color: var(--color-second-trans-80);
  --this-border-color: var(--color-second-trans-90);
}

.alert--third {
  --this-text-color: var(--color-third);
  --this-background-color: var(--color-third-trans-80);
  --this-border-color: var(--color-third-trans-90);
}

.alert--success {
  --this-text-color: var(--color-success);
  --this-background-color: var(--color-success-trans-80);
  --this-border-color: var(--color-success-trans-90);
}

.alert--error {
  --this-text-color: var(--color-error);
  --this-background-color: var(--color-error-trans-80);
  --this-border-color: var(--color-error-trans-90);
}
