.alert {
  background-color: var(--background-color, transparent);
  border-radius: var(--control-border-radius);
  font-size: var(--font-size-base);
  white-space: pre-wrap;
  padding: 0.75em 1.5em;
  color: inherit;
  font-size: var(--font-size-small);
  display: grid;
  gap: 0.5em;
  border: 2px solid var(--background-color, var(--color-grey-white-80));

  & > * {
    margin: 0;
  }
}

.alert--micro {
  font-size: var(--font-size-micro);
}

.alert--small {
  font-size: var(--font-size-small);
}

.alert--large {
  font-size: var(--font-size-large);
}

.alert--extra {
  font-size: var(--font-size-extra);
}

.alert--grey {
  --background-color: var(--color-grey-trans-80);
  color: var(--color-grey);
}

.alert--first {
  --background-color: var(--color-first-trans-80);
  color: var(--color-first);
}

.alert--second {
  --background-color: var(--color-second-trans-80);
  color: var(--color-second);
}

.alert--third {
  --background-color: var(--color-third-trans-80);
  color: var(--color-third);
}

.alert--success {
  --background-color: var(--color-success-trans-80);
  color: var(--color-success);
}

.alert--error {
  --background-color: var(--color-error-trans-80);
  color: var(--color-error);
}
