/* link--grey */

.link--grey {
  --this-text-color: var(--color-grey);
  --this-hover-text-color: var(--color-grey-black-10);
}

/* link--grey-black */

.link--grey-black-10 {
  --this-text-color: var(--color-grey-black-10);
  --this-hover-text-color: var(--color-grey-black-20);
}

.link--grey-black-20 {
  --this-text-color: var(--color-grey-black-20);
  --this-hover-text-color: var(--color-grey-black-30);
}

.link--grey-black-30 {
  --this-text-color: var(--color-grey-black-30);
  --this-hover-text-color: var(--color-grey-black-40);
}

.link--grey-black-40 {
  --this-text-color: var(--color-grey-black-40);
  --this-hover-text-color: var(--color-grey-black-50);
}

.link--grey-black-50 {
  --this-text-color: var(--color-grey-black-50);
  --this-hover-text-color: var(--color-grey-black-60);
}

.link--grey-black-60 {
  --this-text-color: var(--color-grey-black-60);
  --this-hover-text-color: var(--color-grey-black-70);
}

.link--grey-black-70 {
  --this-text-color: var(--color-grey-black-70);
  --this-hover-text-color: var(--color-grey-black-80);
}

.link--grey-black-80 {
  --this-text-color: var(--color-grey-black-80);
  --this-hover-text-color: var(--color-grey-black-90);
}

.link--grey-black-90 {
  --this-text-color: var(--color-grey-black-90);
  --this-hover-text-color: black;
}

/* link--grey-white */

.link--grey-white-10 {
  --this-text-color: var(--color-grey-white-10);
  --this-hover-text-color: var(--color-grey);
}

.link--grey-white-20 {
  --this-text-color: var(--color-grey-white-20);
  --this-hover-text-color: var(--color-grey-white-10);
}

.link--grey-white-30 {
  --this-text-color: var(--color-grey-white-30);
  --this-hover-text-color: var(--color-grey-white-20);
}

.link--grey-white-40 {
  --this-text-color: var(--color-grey-white-40);
  --this-hover-text-color: var(--color-grey-white-30);
}

.link--grey-white-50 {
  --this-text-color: var(--color-grey-white-50);
  --this-hover-text-color: var(--color-grey-white-40);
}

.link--grey-white-60 {
  --this-text-color: var(--color-grey-white-60);
  --this-hover-text-color: var(--color-grey-white-50);
}

.link--grey-white-70 {
  --this-text-color: var(--color-grey-white-70);
  --this-hover-text-color: var(--color-grey-white-60);
}

.link--grey-white-80 {
  --this-text-color: var(--color-grey-white-80);
  --this-hover-text-color: var(--color-grey-white-70);
}

.link--grey-white-90 {
  --this-text-color: var(--color-grey-white-90);
  --this-hover-text-color: var(--color-grey-white-80);
}

/* link--grey-trans */

.link--grey-trans-10 {
  --this-text-color: var(--color-grey-trans-10);
  --this-hover-text-color: var(--color-grey);
}

.link--grey-trans-20 {
  --this-text-color: var(--color-grey-trans-20);
  --this-hover-text-color: var(--color-grey-trans-10);
}

.link--grey-trans-30 {
  --this-text-color: var(--color-grey-trans-30);
  --this-hover-text-color: var(--color-grey-trans-20);
}

.link--grey-trans-40 {
  --this-text-color: var(--color-grey-trans-40);
  --this-hover-text-color: var(--color-grey-trans-30);
}

.link--grey-trans-50 {
  --this-text-color: var(--color-grey-trans-50);
  --this-hover-text-color: var(--color-grey-trans-40);
}

.link--grey-trans-60 {
  --this-text-color: var(--color-grey-trans-60);
  --this-hover-text-color: var(--color-grey-trans-50);
}

.link--grey-trans-70 {
  --this-text-color: var(--color-grey-trans-70);
  --this-hover-text-color: var(--color-grey-trans-60);
}

.link--grey-trans-80 {
  --this-text-color: var(--color-grey-trans-80);
  --this-hover-text-color: var(--color-grey-trans-70);
}

.link--grey-trans-90 {
  --this-text-color: var(--color-grey-trans-90);
  --this-hover-text-color: var(--color-grey-trans-80);
}
